@model EditBurgerVM
<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css" />

</head>
<body>
<form asp-controller="Burger" asp-action="EditBurger" method="post" class="form">
    <input type="hidden" asp-for="Id" />

    <div class="md-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="md-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="md-3 form-check fs-5 fw-bold">
        <input asp-for="IsVegetarian" class="form-check-input" type="checkbox" />
        <label asp-for="IsVegetarian" class="form-check-label">Vegetarian Product</label>
    </div>

        <div class="md-3 form-check fs-5 fw-bold">
        <input asp-for="IsVegan" class="form-check-input" type="checkbox" />
        <label asp-for="IsVegan" class="form-check-label">Vegan Product</label>
    </div>

        <div class="md-3 form-check fs-5 fw-bold">
        <input asp-for="HasFries" class="form-check-input" type="checkbox" />
        <label asp-for="HasFries" class="form-check-label">Fries Included</label>
    </div>

    <button type="submit" class="btn btn-primary">Edit Burger</button>
</form>
</body>
</html>